*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $accent-500;

    @include link-style($regular-link);
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

body {
    font-family: var(--font-inter), sans-serif;
    background: $dark-700;
    color: $light-100;

    @include apply-text-style(regular-16);
}

h1 {
    @include apply-text-style(h1);
}

h2 {
    @include apply-text-style(h2);
}

h3 {
    @include apply-text-style(h3);
}

p {
    @include apply-text-style(regular-14);
}

/* styles/globals.css */
::-webkit-scrollbar {
    display: none;
    width: 20px; /* Ширина скроллбара */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Цвет ползунка */
    border-radius: 30px; /* Закругление углов */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет дорожки */
}

/* Для Firefox */
html {
    scrollbar-width: thin; /* Установить тонкий скроллбар */
    scrollbar-color: darkgrey #f1f1f1; /* Цвет ползунка и дорожки */
}