.formWrapper {
    width: 100%;
    min-height: calc(100vh - 60px);
}

.formSection {
    margin: 24px auto 0;
    padding: 24px;
    width: 100%;
    max-width: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-500;
    border: 1px solid $dark-300;
    border-radius: 2px;
}

.title {
    display: block;
    margin-bottom: 13px;

    @include apply-text-style(h1);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.legal {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;

    & span {
        @include apply-text-style(small);
    }
}

.linkForgotPassword {
    display: inline-block;
    margin: 12px 0 24px auto;
    text-decoration: none;

    @include apply-text-style(regular-14);

    color: $light-900;
}

.helperText {
    margin-bottom: 17px;

    @include apply-text-style(regular-14);

    color: $light-900;
}

.helperText.mb40 {
    margin-bottom: 40px;
}

.text {
    margin-top: 18px;
}

.successSubmit {
    margin-bottom: 23px;

    @include apply-text-style(regular-14);

    color: $light-100;
}

.link {
    margin-top: 12px;
}

.linkMTB30 {
    margin: 30px auto;
}

.modalInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 18px;

    @include apply-text-style(regular-16);
}

.recaptcha {
    margin: 0 auto;
}

@media screen and (max-width: $breakpoint-tablet) {
    .formSection {
        max-width: 100%;
        padding: 15px;
        background-color: transparent;
        border: 1px solid transparent;
    }
}
