# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug (pnpm logs)
pnpm-debug.log*
pnpm-error.log*

# env files (can opt-in for committing if needed)
.env*


# typescript
*.tsbuildinfo
next-env.d.ts

# Storybook
.storybook/

# IDEs
.idea/

# production build (Next.js)
dist/
*.log


*storybook.log
