.inputWrapper {
    font-family: Inter, sans-serif;
    @include apply-text-style(regular-16);
}

.eyeIcon {
    color: $light-900;
}

.inputContainer {
    position: relative;

    .eyeIcon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-40%);
        color: $light-100;
        cursor: pointer;
        user-select: none;
    }

    .loupeIcon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-35%);
    }
}

.label {
    color: $light-900;
}

.inputField {
    font-size: 16px;
    color: $light-100;

    padding: 8px;

    border: 1px solid $light-900;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0); // прозрачный
    width: 100%;
    box-sizing: border-box;

    transition:
        border-color $transition-normal,
        color $transition-normal;

    &:active {
        border-color: $light-100;
        color: $light-100;
        outline: none;
    }

    &:hover {
        border-color: $dark-100;
        outline: none;
    }

    &:focus {
        border-color: $accent-500;
        outline: none;
    }

    &:hover::placeholder {
        color: $dark-100;
    }
}

.passwordInput {
    padding-right: 40px;
}

.searchInput {
    padding-left: 41px;
}

.errorMessage {
    color: $danger-500;
    min-height: 20px;
}

.inputField.error {
    border-color: $danger-500;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
