.wrapper {
    position: relative;
    transition: opacity $transition-normal ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.btn {
    display: flex;
    width: 20px;
    height: 20px;

    &:focus-visible {
        outline: 2px solid $accent-500;
    }
}

.count {
    content: '';
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: $danger-500;
    border-radius: 50%;
    min-width: 13px;
    min-height: 13px;
    padding: 3px;
    font-size: 10px;
    font-weight: 600;
    line-height: 8px;
    color: $light-100;
}
