.text {
    color: $light-900;
    display: block;
    margin-bottom: 17px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.success {
    margin-bottom: 20px;
    display: block;
}

.error {
    display: block;
    margin-bottom: 20px;
    color: $danger-500;
}
