.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 360px;
}

.wrapper {
    display: flex;
}

.main {
    flex-grow: 1;
}

.main.spacer {
    margin-left: 220px;
}
// добавил этот класс
//.main.public {
//    margin: 0 auto 0 auto;
//}
//

@media screen and (max-width: $breakpoint-tablet) {
    .main.spacer {
        margin-left: 0;
    }
}
