.publicPage {
  max-width: 972px;
  height: 100%;
  margin: 0 auto 60px auto;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 15px;
}

.profilePage {
  max-width: 972px;
  margin:35px auto 35px auto;
}

.profilePosts {
  padding-top: 30px;
  padding-bottom: 30px;

  .postsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    img {
      cursor: pointer;
      width: 234px;
      height: 228px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
  }
}

.profileStats {
  grid-row-start: 2;
  grid-column-start: 2;
}

.postModal {
  position: fixed;
  max-width: 972px;
  height: 564px;
  display: flex;
  flex-direction: row;
}