.registeredUsers {
  background-color: $dark-500;
  border: 1px solid $dark-300;
  max-width: 972px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin: 24px 0 24px 0;

  h2 {
    letter-spacing: 0.05em;
  }

}

.userCount {
  min-width: 200px;
  height: 48px;
  border: 1px solid $dark-300;
  padding: 0 18px 0 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.userCountItem {
  display: inline-flex;
  align-items: center;
}

.userRowItem {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: $dark-300;
  margin: 0 10px 0 10px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.post-card {
  width: 234px;
  max-height: 390px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  button {
    color: $accent-500;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.post-image {
  width: 100%;
  height: auto;
}

.post-info {
  width: 100%;
  height: auto;
  padding-top: 5px;
  position: relative;
}

.post-info.expanded {
  background-color: $dark-700;
  height: 100%;
  bottom: 100px;
}

.post-content {
  background-color: $dark-700;
}

.post-content.expanded {
  position: absolute;
  min-height: 238px;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;

  a {
    @include apply-text-style(h3);
    font-weight: bold;
    color: $light-100;
    text-decoration: none;
  }
}

.collapse-image-button {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 2px;
  cursor: pointer;
}

.post-date {
  @include apply-text-style(small);
  color: $light-900;
  padding-top: 10px;
}

.post-description {
  @include apply-text-style(regular-14);
  min-height: 72px;
  height: 100%;
  position: relative;
}

.postModal {
  position: fixed;
  max-width: 972px;
  height: 564px;
  display: flex;
  flex-direction: row;
}

.postImage {
  width: 492px;
  height: 562px;

  img {
    width: 492px;
    height: 562px;
  }
}

.postContent {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 100%;

  img {
    border-radius: 25px;
  }

  strong {
    letter-spacing: 0.05em;
    padding-right: 3px;
  }

  small {
    @include apply-text-style(small);
    color: $light-900;
  }
}

.postOwner {
  display: flex;
  height: 58px;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid $dark-100;

  strong {
    display: inline-block;
    padding-top: 6px;
  }
}

.postInformation {
  @include apply-text-style(regular-14);
  padding: 12px 0 0 20px;
  display: flex;
  border-top: 1px solid $dark-100;
}

.avatarsWhoLikes {
  padding-right: 12px;
  display: flex;

  img {
    width: 24px;
    height: 24px;
  }
}

.avatarWhoLikes {
  margin-left: -12px;
  position: relative;
}

.avatarWhoLikes:first-child {
  margin-left: 0;
  z-index: 3;
}

.avatarWhoLikes:nth-child(2) {
  z-index: 2;
}

.avatarWhoLikes:nth-child(3) {
  z-index: 1;
}

.postDate {
  padding: 0 0 20px 20px;
  height: 40px;
}

.commentsSection {
  min-height: 180px;
  max-height: 428px;
  height: auto;
  overflow-y: auto;
  padding: 0 20px 10px 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  padding-top: 12px;
}

.commentAvatar {
  margin-right: 12px;
}

.commentContent {
  flex: 1;
}

.viewMore {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  color: $light-900;
  margin-top: 10px; //надо бы убрать куда-то

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 1px;
    background-color: $light-900;
  }
}

.commentAnswer {
  display: flex;
  padding-top: 8px;
}

.postActions {
  position: relative;
  display: flex;
  margin: 5px 0 0 auto;
}

.dotsButton {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dropdownMenu {
  position: absolute;
  top: 55%;
  right: 45%;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 7px;
  background: $dark-500;
  border: 1px solid $dark-100;
  z-index: 100;
  min-width: 137px;
  overflow: hidden;

  button {
    @include apply-text-style(regular-14);
  }
}

.dropdownMenu button {
  padding: 7px 4px 4px 0;

  &:hover {
    padding: 7px 4px 4px 0;
  }
}
.dropdownItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  text-align: left;

  &:hover {

  }
  .icon {
    margin-right: 7px;
    width: 24px;
    height: 24px;
  }
}

.modalDeletePost {
  max-width: 378px;
  height: 216px;

}
.modalDeletePostButton {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.modalDeletePostButton button {
  padding: 5px 30px 5px 30px;

  &:hover {
    padding: 5px 30px 5px 30px;
  }
}
