.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.post-card {
  width: 234px;
  height: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  button {
    color: $accent-500;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.post-image {
  width: 100%;
  height: auto;
}

.post-info {
  width: 100%;
  height: auto;
  padding-top: 5px;
  position: relative;
}

.post-info.expanded {
  background-color: $dark-700;
  height: 100%;
  bottom: 100px;
}

.post-content {
  background-color: $dark-700;
}

.post-content.expanded {
  position: absolute;
  min-height: 238px;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;

  a {
    @include apply-text-style(h3);
    font-weight: bold;
    color: $light-100;
    text-decoration: none;
  }
}

.collapse-image-button {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 2px;
  cursor: pointer;
}

.post-date {
  @include apply-text-style(small);
  color: $light-900;
  padding-top: 10px;
}

.post-description {
  @include apply-text-style(regular-14);
  min-height: 72px;
  height: 100%;
  position: relative;
}

.postModal {
  position: fixed;
  max-width: 972px;
  height: 564px;
  display: flex;
  flex-direction: row;
}

.postActions {
  position: relative;
  display: flex;
  margin: 5px 0 0 auto;
}

.dotsButton {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dropdownMenu {
  position: absolute;
  top: 55%;
  right: 45%;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 7px;
  background-color: $dark-500;
  border: 1px solid $dark-100;
  z-index: 100;
  min-width: 137px;
  overflow: hidden;

  button {
    @include apply-text-style(regular-14);

    &:hover {
      background-color: $dark-500;
    }
  }
}

.dropdownMenu button {
  padding: 7px 4px 4px 0;

  &:hover {
    padding: 7px 4px 4px 0;
  }
}

.dropdownItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  text-align: left;

  &:hover {

  }
  .icon {
    margin-right: 7px;
    width: 24px;
    height: 24px;
  }
}











