.cropPanel{
  position: absolute;
  bottom: 49px;
  left: 11px;
  width: 156px;
  height: 152px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba($dark-500, 0.8);
  z-index: $z-index-modal;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

.cropPanel.visible{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  visibility: visible;
}

.btn{
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: brightness(50%);
  transition: 0.5ms;
}

.btn.active{
  filter: brightness(100%);

}

.title{
  color: $light-100;
  @include apply-text-style(regular-16);
}

.image{
  width: 24px;
  height: 24px;
}

.square{
  width: 18px;
  height: 18px;
  border: 2px solid $light-100;
  border-radius: 3px;
  font-size: 0;
  color: transparent;
}

.verticalRectangle{
  width: 18px;
  height: 26px;
  border: 2px solid $light-100;
  font-size: 0;
  color: transparent;
}

.horizontalRectangle{
  width: 26px;
  height: 20px;
  border: 2px solid $light-100;
  font-size: 0;
  color: transparent;
}