.wrapper {
    padding: 24px;
    background-color: $dark-500;
    border: 1px solid $dark-300;
    width: 378px;
}

.title {
    @include apply-text-style(h1);

    text-transform: capitalize;
    margin-bottom: 12px;
    text-align: center;
}

.auth-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 24px;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.legal {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn-wrapper {
    margin-bottom: 18px;
}

.sign-text {
    text-align: center;
}

.error {
    color: $danger-500;

    @include apply-text-style(small);
}

@media (max-width: $breakpoint-tablet) {
    .wrapper {
        min-width: 100%;
        background-color: $dark-700;
        border: none;
        padding: 20px 12px;
    }
}
