.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.hiddenCheckbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: all;
}

.checkbox {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid $light-100;
    border-radius: 3px;
    position: relative;
    transition: $transition-normal;
    flex-shrink: 0;
    z-index: 2;
    outline: 0;

    &.checked {
        background-color: $light-100;

        &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 10px;
            border: solid $dark-900;
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -60%) rotate(45deg);
            top: 50%;
            left: 50%;
        }
    }
}

.wrapper.disabled .checkbox:hover::before {
    background-color: transparent;
}

.outline {
    position: relative;
    margin-right: 11px;
}
.outlineBg {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: $transition-normal;
    pointer-events: none;
    font-size: 0;
    color: transparent;
}

.outline:hover .outlineBg {
    width: 36px;
    height: 36px;
    background-color: $dark-300;
}

.hiddenCheckbox:active + .outlineBg {
    width: 36px;
    height: 36px;
    background-color: $dark-100;
}

.hiddenCheckbox:focus-visible + .outlineBg {
    width: 36px;
    height: 36px;
    background-color: $dark-500;
    border: 1px solid $light-100;
}

.label {
    display: flex;
    font-family: Inter, sans-serif;
    @include apply-text-style(regular-14);
    color: $light-100;
}
